
<html>
  <head>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    
    <style>
      body {
        background-color: #102a71;
        font-family: "Trirong", serif;
      }
      .form-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffdc5f;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .form-title {
        margin-bottom: 40px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-5">
          <div class="form-container">
            <h1 class="form-title">Add a Quote</h1>
            <form action="/add" method="POST">
              <div class="form-group">
                <label for="quote">Quote</label>
                <textarea
                  class="form-control"
                  id="quote"
                  name="quote"
                  rows="3"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label for="author">Author</label>
                <input
                  type="text"
                  class="form-control"
                  id="author"
                  name="author"
                  required
                />
                 <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br>
              </div>
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="public"
                  name="public"
                />
                <label class="form-check-label" for="public">Public?</label>
                
              </div>
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="comments_allowed"
                  name="comments_allowed"
                />
                <label class="form-check-label" for="public">comments_allowed</label>
                <br>
                <br>
              
              
              <button type="submit" class="btn btn-success">Submit</button>
              <br>
              <br>
            <a href="/"><button type="Cancel" class= "btn btn-dark">Cancel</button></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
